tensorflow==2.18.0
scikit-learn==1.5.2
flask==3.0.3
flask-upload==1.4.0
flask-wtf==1.2.2
wtforms==3.2.1
opencv-python==4.10.0.84
pandas==2.2.3
numpy==2.0.2
matplotlib==3.9.2
pytest==8.3.4
tensorflow-io-gcs-filesystem==0.31.0
h5py==3.12.1