/* Resetowanie marginesów i wypełnień dla podstawowych elementów */
body,
html,
h1,
form,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Zapewnia, że padding i border nie wpływają na szerokość elementów */
}

/* Styl dla body */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #c4c4f4, #a8a8ff);
  background-repeat: no-repeat; /* Prevents the background from repeating */
  background-size: cover; /* Ensures the gradient spans the entire page */
  color: #000;
  height: 100vh; /* Ensures the gradient spans the viewport height */
}

/* Styl dla nagłówka, który jest przyklejony do góry */
.header {
  top: 0;
  position: fixed; /* Nagłówek przyklejony do góry */
  text-align: left;
  width: 100%;
  height: 60px;
  font-weight: bold;
  background: rgba(145, 147, 251, 1); /* Kolor tła nagłówka */
  transition: 0.3s; /* Płynne przejście przy zmianach */
  padding: 20px;
  z-index: 1000; /* Nagłówek na wierzchu */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Dodanie cienia */
}

/* Główna zawartość strony */
.main-container {
  margin-top: 100px; /* Increased margin to push text further from the header */
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px; /* Ograniczenie szerokości dla lepszej czytelności */
}

/* Styl dla obrazu */
.main-image img {
  width: 100%; /* Ensure the image scales appropriately */
  max-width: 600px; /* Optional: Set a maximum width */
  height: auto; /* Maintain aspect ratio */
  display: block;
  margin: 20px auto; /* Center the image and add spacing */
}
