/* Resetowanie marginesów i wypełnień dla podstawowych elementów */
body,
html,
h1,
form,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Zapewnia, że padding i border nie wpływają na szerokość elementów */
}

/* Styl dla body */
body {
  font-family: "Jura", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  background: white; /* Gradient tła */
  color: #000;
  height: auto; /* Pozwolenie na przewijanie */
}

/* Styl dla nagłówka, który jest przyklejony do góry */
.header {
  top: 0;
  position: fixed; /* Nagłówek przyklejony do góry */
  text-align: left;
  width: 100%;
  height: 60px;
  font-weight: bold;
  background: rgb(191, 213, 226); /* Kolor tła nagłówka */
  transition: 0.3s; /* Płynne przejście przy zmianach */
  padding: 20px;
  z-index: 1000; /* Nagłówek na wierzchu */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Dodanie cienia */
}

/* Główna zawartość strony */
.main-container {
  font-family: "Jura", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  margin-top: 80px; /* Odstęp od góry, aby nie nachodziło na nagłówek */
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px; /* Ograniczenie szerokości dla lepszej czytelności */
  background: white;
  padding: 10%;  
  border-radius: 20px;  
  border: 5px solid rgb(191, 213, 226);  
  padding-top: 30px;

}

/* Stylizacja nagłówków */
main h1 {
  font-size: 24px;
  margin-bottom: 30px;
  color: #000;
  text-align: center; /* Wyśrodkowanie tekstu */
}

/* Stylizacja nagłówka z podtytułem */
h2 {
  display: flex; /* Użycie flexbox do wyświetlania w jednej linii */
  align-items: center;
  gap: 10px; /* Odstęp między nagłówkiem a tekstem */
  font-size: 18px;
}

/* Wygląd tekstu w wynikach */
.result-text {
  font-weight: normal;
  display: inline-block; /* Utrzymanie tekstu na jednej linii */
}
.results-header{
  background: white;
  padding: 5%;  
  border-radius: 20px;  
  border: 5px solid rgb(191, 213, 226);  
}
/* Kontener dla obrazów */
.images {
  display: flex;
  justify-content: center; /* Wyśrodkowanie obrazów */
  align-items: center;
  gap: 20px; /* Odstęp między obrazami */
  margin-top: 20px;
  border-radius: 5px;
}

/* Styl dla obrazów, aby były wyrównane i miały stałe wymiary */
.uploaded-image img,
.heatmap-image img {
  width: 400px; /* Stała szerokość obrazów */
  height: 400px; /* Stała wysokość obrazów */
  object-fit: cover; /* Zachowanie proporcji obrazu */
  display: block;
  border: 4px solid rgb(191, 213, 226); /* Opcjonalna ramka wokół obrazów */
  border-radius: 15px; /* Zaokrąglenie rogów */
}

/* Styl przycisku generującego raport */
.raport-gen {
  display: inline-block;
  background: rgb(229, 234, 239);
  border: 4px solid rgb(191, 213, 226);
  font-size: 16px;
  padding: 10px 40px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease; /* Płynna animacja */
}

/* Efekt hover na przycisku generowania raportu */
.raport-gen:hover {
  box-shadow: 0 3px rgb(132, 155, 209);
  transform: translateY(-2px); /* Delikatne uniesienie przycisku */
}

/* Kontener obrazów i przycisków */
.uploaded-image,
.heatmap-image {
  display: flex;
  flex-direction: column; /* Kolumnowe ułożenie elementów */
  align-items: center;
  gap: 10px; /* Odstęp między obrazami a przyciskami */
  border-radius: 5px;
}

/* Styl dla przycisku pobierania */
.download-button {
  display: inline-block;
  padding: 10px 15px;
  background: rgb(229, 234, 239);
  border: 4px solid rgb(191, 213, 226);
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Efekt hover na przycisku pobierania */
.download-button:hover {
  box-shadow: 0 3px rgb(132, 155, 209);
  transform: translateY(-2px); /* Delikatne uniesienie przycisku */
}
