{% extends 'base.html' %} {% block custom_css %}<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/information.css') }}"
/>
{% endblock %} {% block head %}
<title>Informacje o projekcie</title>
{% endblock %} {% block body %}
<main class="main-container">
  <div class="main-text">
    <div class="instruction">
      <h4>Instrukcja:</h4>
      <p>
        Na stronie głównej aplikacji kliknij przycisk
        <bold>"wybierz plik"</bold>, aby wgrać plik z komputera. Obsługiwane
        formaty plików to jpg i png.
      </p>
      <p>
        Po wybraniu pliku wybierz przycisk <bold>"klasyfikacja"</bold>, aby
        przesłać plik do analizy.
      </p>
      <p>
        Następnie zostaniesz przekierowany na stronę rezultatów, gdzie
        wyświetlane są wyniki analizy w tym: pewność predykcji, klasyfikacja
        oraz mapa cieplna Grad-CAM.
      </p>
      <p>
        Kliknij przycisk <bold>"generuj"</bold>, aby wygenerować szczegółowy
        raport w formacie PDF zawierający inne narzędzia wyjaśnialności modelu.
      </p>
      <p>
        W celu pobrania jednego ze zdjęć kliknij przycisk
        <bold>"Pobierz"</bold> znajdujący się pod nim.
      </p>
      <p>
        Aby powrócić do strony głównej formularza, kliknij na nazwę
        loga aplikacji.
      </p>
    </div>
    <div class="about">
      <h4>Więcej o projekcie:</h4>
      Zapalenie płuc jest poważnym stanem chorobowym, który atakuje układ
      oddechowy, prowadząc do zapalenia pęcherzyków płucnych, często wywołanego
      przez bakterie, wirusy lub grzyby. Choroba ta stanowi istotne zagrożenie
      zdrowotne, szczególnie w regionach o ograniczonym dostępie do opieki
      medycznej, a jej wczesne wykrycie jest kluczowe w zapobieganiu powikłaniom
      i zgonom. Tradycyjne metody diagnostyczne, takie jak badanie rentgenowskie
      płuc, są często stosowane w celu identyfikacji zapalenia płuc, jednak ich
      interpretacja może być subiektywna i zależna od doświadczenia radiologa. W
      odpowiedzi na te wyzwania, celem niniejszego projektu inżynierskiego jest
      niniejsza, która przy pomocy algorytmów uczenia maszynowego automatycznie
      analizuje zdjęcia rentgenowskie płuc, klasyfikując je jako przedstawiające
      zapalenie płuc lub zdrowe płuca.
    </div>
  </div>
  <div class="main-image">
    <img
      src="{{ url_for('static', filename='images/politechnika.png') }}"
      alt="Politechnika"
    />
  </div>
</main>
{% endblock %}
